# --- Rust ---
/target
Cargo.lock

# --- Personal ---
/personal

# --- Logs ---
*.log
*.txt
!INFO.TXT

# --- Archives ---
*.zip

# --- OS ---
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Miscellaneous ---
*.png
.env
